<h1>Books at da libs</h1>

<% @books.each do |book| %>
  <p>
    <a href="/books/<%= book.id %>"><%= book.name %></a>
  </p>
<% end %>


<%= form_tag("/books", class: "") do  %>
    <%= text_field_tag "book[name]" %>
    <%= button_to(name = "Add title") %>
<% end %>
