<main>
  <h1><%= @book.name %></h1>
  <h3>Description: <%= @book.description %></h3>
  <h3>ISBN: <%= @book.ISBN %></h3>

  <%= form_tag("/books/#{@book.id}", method: "patch", class: "") do  %>
    ISBN:<%= text_field_tag "book[ISBN]" %>
    Description:<%= text_field_tag "book[description]" %>
    <%= button_to(name = "Update book") %>
<% end %>

<%= form_tag("/books/#{@book.id}", method: "delete", class: "") do  %>
  <%= button_to(name = "Delete this book") %>
<% end %>
</main>
